In [1]:
import numpy as np
import pandas as pd

In [3]:
company = pd.read_csv('Companies.csv')

In [5]:
company.head(2)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.0",-7.20%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.0",0.00%,"$6,20,854","$4,11,035"

In [7]:
company

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.0",-7.20%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.0",0.00%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.0",-14.40%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.70%,"$7,840.0",-51.50%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.20%,"$2,258.0",53.00%,"$56,563","$31,439"
...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,"31,000",517.0,"$5,197",5.80%,$378.2,4.20%,"$2,148","$4,229"
496,497,Toll Brothers,"4,200",576.0,"$5,170",23.90%,$382.1,5.20%,"$9,737","$5,872"
497,498,Yahoo,"8,500",513.0,"$5,169",4.00%,-$214.3,-,"$48,083","$44,391"
498,499,Vistra Energy,"4,431",NaN,"$5,164",-,-,-,"$15,167","$6,968"
499,500,ABM Industries,"1,10,000",485.0,"$5,145",-2.80%,$57.2,-25.00%,"$2,281","$2,428"